a {
    text-decoration: none;  
    
}
#me, #about1, #about2{
    opacity: 0%;
}

#links{
    opacity: 0%;
}

#othello:hover{
    color:gray; 
}


.icon{
    opacity: 0%;
    transition: transform 0.25s ease-in-out;
}

.icon:hover{
    transform: translateY(-10px);

}

body {
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
    background-attachment: fixed;
}


#name{
  font-size: 350%;
}

#description{
  font-size: 150%;
}

#customNav{
  font-size: 165%;
}

#customNav a{
  padding: 0px 20px;
}


div.webSection{
  margin: 0px 0px 0px 0px;
  padding:25px 25px;
}

#research {
  font-size: 125%;
}

.image{
  padding:15px 0px 0px 0px; 
  height:100%; 
  width: 100%; 
  border:2px solid white; 
  border-radius: 30px;
}



#noteworks{
  background-color: white;
}

#reversi, #personal{
  background-color: #000000;
}


.modalImage{
  height:70%; 
  width: 70%; 
  border-radius: 30px;
  margin-bottom: 10px;
}

.techIcon{
  height: 30px; 
  width: 30px;
  margin: 0px 2px 0px 2px;
}

.researchlink:hover{
  opacity: 70%;
}

.hidden{
  opacity: 0%;
  transition: all 1.3s ease-out;
}

.show{
  opacity: 100%;
  filter: blur(0px);
}

.min-height-65vh {
  min-height: 65vh; /* 50% of the viewport height */
}
.carousel-inner:hover{
  cursor: pointer;
}

[data-bs-theme="dark"] {
  --bs-body-color: #f8f9fa; /* A brighter white for text, if desired */
}


.floating-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.floating-toggle:hover {
  background-color: #6c757d; /* A hover color */
  transform: scale(1.1);
}

[data-bs-theme="dark"] .floating-toggle {
  background-color: #343a40; /* Adjust for dark mode */
  color: #f8f9fa; /* Icon/text color for dark mode */
}

[data-bs-theme="dark"] .floating-toggle:hover {
  background-color: #495057;
}
