a {
    text-decoration: none; 
    color:white;
}

a:hover{
    color:#2962ff; 
}

#name, #about1, #about2{
    opacity: 0%;
}

#noteworks:hover{
    color:gray; 
}

#noteworks{
    color:#2962ff; 
    text-decoration: none;
}

#othello{
    color:#ffcc80; 
    text-decoration: none;
}

#links{
    opacity: 0%;
}

#othello:hover{
    color:gray; 
}


.icon{
    opacity: 0%;
}